body {
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: #000;
  color: #fff;
  padding: 1.25rem;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-left: 1.25rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.logo-home {
  padding-top: 1.25rem;
  text-align: center;
}

.logo-home img {
  width: 15rem;
}

.branding {
  display: flex;
  align-items: center;
  padding-top: 1.25rem;
  gap: 1.25rem;
}

.logo {
  text-align: left;
}

.logo img {
  width: 5rem;
}

.head {
  font-size: 2.5rem;
  font-weight: bold;
}

.head-home {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1.25rem;
}

main {
  margin: 2.5rem;
  padding-bottom: 2.5rem;
}

main h1 {
  margin: 2.5rem;
}

main h2 {
  margin: 2.5rem;
}

main p {
  margin: 1.25rem 2.5rem;
}

main ul li {
  margin: 0 2.5rem;
}

footer {
  background-color: #f2f2f2;
  padding: 2.5rem 1.25rem;
}

.footer-columns {
  display: flex;
  justify-content: center;
  gap: 15rem;
}

.footer-column {
  width: auto;
  color: #888;
}

.footer-column ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-column ul li a {
  color: #888;
  text-decoration: none;
}

footer p {
    color: #888;
}
