<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title }}</title>
    <link rel="shortcut icon" type="image/png" href="{{ '/assets/images/logo_circle_2_black_favicon.png' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
  </head>
  <body>
    <header>
      <nav>
        {% include menu.html %}
      </nav>
      <div class="logo-home">
        <img src="{{ '/assets/images/logo_circle_2_lgray.svg' | relative_url }}" alt="Axis Lab Ltd">
      </div>
    </header>

    <main>
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
